@use '@/app/mixins.scss' as *;

.button {
  color: #fff;
  cursor: pointer;
  background-color: var(--color-accent);
  text-transform: uppercase;
  width: fit-content;
  line-height: 1;
  letter-spacing: 0.07em;
  border: none;
  border-radius: 100px;
  padding: 20px 75px;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s;

  @include respond-to(mobile) {
    font-size: 11px;
    align-self: center;
  }

  @include respond-to(desktop-lg) {
    font-size: 15px;
  }

  &:hover {
    .buttonMask span {
      top: -20px;
    }
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

.buttonMask {
  height: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;

  span {
    align-items: center;
    height: 20px;
    transition: all 0.5s;
    display: flex;
    position: relative;
    top: 0;

    &:after {
      content: var(--btn-text);
      width: 100%;
      color: #fff;
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      position: absolute;
      top: 100%;
      left: 0px;
      transition: 0.5s;
    }
  }
}
