@use '@/app/mixins.scss' as *;

.logo {
  display: block;
  min-width: 150px;
  line-height: 0;
  opacity: 1;
  overflow: hidden;
  transform: scale(1);
  transition: 0.6s all;
  margin: 0px 25px;

  &:hover {
    opacity: 0.8;
  }

  @include respond-to(desktop-lg) {
    min-width: 175px;
  }

  @include respond-to(mobile) {
    min-width: 135px;
    max-width: 135px;
    margin: 0;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
