$bp-mobile: 767px;
$bp-tablet: 1023px;
$bp-laptop: 1280px;
$bp-desktop-base: 1769px;

@mixin respond-to($media) {
  @if $media == desktop-lg {
    @media (min-width: #{$bp-desktop-base + 1}) {
      @content;
    }
  }
  @if $media == laptop {
    @media (min-width: #{$bp-tablet + 1}) and (max-width: #{$bp-laptop}) {
      @content;
    }
  }
  @if $media == tablet {
    @media (min-width: #{$bp-mobile + 1}) and (max-width: #{$bp-tablet}) {
      @content;
    }
  }
  @if $media == mobile {
    @media (max-width: #{$bp-mobile}) {
      @content;
    }
  }
}
