@use '@/app/mixins.scss' as *;

.wrapper {
  position: relative;
  margin-bottom: 25px;
  padding-top: 10px;
  width: 100%;

  @include respond-to(mobile) {
    margin-bottom: 14px;
  }

  span {
    font-size: 12px;
  }
}

.label {
  text-transform: uppercase;
  color: var(--color-text-main);
  pointer-events: none;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: -2px;
  padding: 0px 4px;
  transition: 0.3s all;
  font-size: 16px;

  @include respond-to(desktop-lg) {
    font-size: 17px;
  }

  @include respond-to(laptop) {
    font-size: 14px;
  }

  @include respond-to(mobile) {
    font-size: 11px;
  }
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #cccccc;
  caret-color: var(--color-text-main);
  color: var(--color-text-main);
  cursor: text;
  width: 100%;
  padding: 12px 0px;
  font-size: 16px;
  -webkit-text-fill-color: var(--color-text-main);

  &::selection {
    background-color: rgba(var(--color-accent-rgb), 0.2);
    color: var(--color-text-main);
    -webkit-text-fill-color: var(--color-text-main);
  }

  &:hover,
  &:focus {
    caret-color: var(--color-text-main);
    color: var(--color-text-main);
    cursor: text;
    -webkit-text-fill-color: var(--color-text-main);
  }

  @include respond-to(desktop-lg) {
    font-size: 17px;
  }

  @include respond-to(laptop) {
    font-size: 14px;
  }

  @include respond-to(mobile) {
    font-size: 11px;
  }

  &:focus {
    outline: none;
    border-color: #000;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    caret-color: var(--color-text-main);
    -webkit-text-fill-color: var(--color-text-main);
    transition: background-color 9999s ease-in-out 0s;
  }
}

.label.active {
  top: -4px;
  font-size: 12px;
  opacity: 0.5;
  @include respond-to(desktop-lg) {
    font-size: 13px;
  }

  @include respond-to(laptop) {
    font-size: 11px;
  }

  @include respond-to(mobile) {
    font-size: 9px;
  }
}

.error {
  border-color: red;
}

.errorMessage {
  display: block;
  min-height: 15px;
  margin-top: 4px;
  color: red;
  line-height: 1.25;
  visibility: hidden;
}

.errorMessage.visible {
  visibility: visible;
}
